# Python
*.pyc
*.pyo
__pycache__/
*.pdb
*.egg-info/
.eggs/
dist/
build/
*.whl

# Django
*.sqlite3
db.sqlite3
*.log

# Environment variables
.env
*.env

# VSCode
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# PyCharm
*.pyc
.idea/

# macOS
.DS_Store

# Linux
*~

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.cache

# MyPy
.mypy_cache/

# Sphinx documentation
docs/_build/
